.login-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-screen h2 {
  margin-bottom: 20px;
}

.login-screen form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-screen input,
.login-screen button {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}

.login-screen button {
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}
.close-button {
  font-size: 24px;
  color: red;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
}